<footer>
   <div class="wrapper">
     <div class="donate">
        <h5>
            You can reach us on any of our social handles
        </h5>
        <i id="foot-fa" class="fa fa-facebook fa-2x"></i> @ www.facebook.com/foundationZoa/ <br/>
        <i id="foot-fa" class="fa fa-twitter fa-2x"></i> @ www.twitter.com/Zoafoundation<br/>
        <i id="foot-fa" class="fa fa-instagram fa-2x"></i> @ www.instagram.com/Zoafoundationinitiative<br/>
    </div>
    <div class="join">
    <button class="join-btn animate__animated animate__pulse animate__infinite"><a href="/Home/Join"> Join Us Today!</a></button><img src="/images/Logo.jpg" height="180px" width="250px"/><br/>
    <span style="color: rgb(247, 163, 7);">For Regular Info Subscribe To Our Newsletter</span>
    <span style="display: flex;"> <input type="email" class="form-control" placeholder="example@example.com" style="flex:4; margin-top: 8px"/><i class="fa fa-envelope fa-3x" style="flex:1; padding:1px; color: blue; margin:3px"></i></span>
    </div>
   </div>
</footer>

<style type="text/css">
 @media screen and (max-width: 500px){
     .wrapper{
         display: flex;
         flex-direction: column;
         font-size: 0.7rem;
     }
     img{
         height: 100px;
         width: 150px;
     }
 }
</style>