  <div id="myModal" class="modal fade">
                       <div class="modal-dialog">
                         <div class="modal-content">
                 <div class="modal-header" style="background-color: whitesmoke; color:grey;">
                <br/><br/>
                <h4 class="modal-title"><i class="fa fa-sign-in fa-2x"></i>  Login</h4>
                <br/><br/>
            </div>
              <div class="modal-body" style="background-color: whitesmoke">
               <form method="POST" action="/AdminLogin" >
               <br/><br/>
                   <div  class="form-group">
                       <br/>
                       <label><i class="fa fa-user fa-lg"></i> Username</label>
                       <input type="text" class="form-control" name="Username" placeholder="Enter your Username: " />
                   </div>
                   <div class="form-group">
                       <br/>
                       <label><i class="fa fa-key fa-lg"></i> Password</label>
                     <input type="password" class="form-control" name="Password" placeholder="Enter your Password: " />
                   </div>
                   <div class="form-group">
                       <br/><br/>
                <button type="submit" class="btn btn-info"><i class="fa fa-sign-in"></i> Login</button>
             </div>
             </form>
            </div>
            <div class="modal-footer" style="background-color:whitesmoke ">
                <p style="font-size: 1.5rem; color: blue; font-family: Tangerine; font-weight: bold">ZOA Foundation initiatives &copy; 2020</p>
            </div>
            </div>
            </div>
            </div>
            