<nav>
    <i id="fa" class="fa fa-facebook"></i>
    <i id="fa" class="fa fa-twitter"></i>
    <i id="fa" class="fa fa-instagram"></i>
    <i id="fa" class="fa fa-google"></i>
    <i id="fa" class="fa fa-youtube"></i>
</nav>