<head>
    <link rel="stylesheet" href="/Styles/About.css" />
    <link rel="stylesheet" href="/Styles/aos.css"/>
</head>

{{> Nav}}
{{> Login}}
<div class="container">
    <div class="animate__animated animate__fadeInLeft" style="height: 10vh; font-size: 1.5rem; width: 100%"><span><span style="text-align: center;"><span style="color: blue; font-weight: bolder">Z</span><span style="color: red;  font-weight: bolder">O</span><span style="color: blue;  font-weight: bolder">A</span> Foundation Initiatives</span>
    <span><input id="search" type="search" placeholder="Search"/><i class="fa fa-search" style="background: white; padding: 3px; color: blue;"></i></span></span>
    </div>
    <div class="main animate__animated animate__fadeIn">
        <div class="left-section">
          <div class="message">
               Learn More About<br/> 
           <span style="color: blue; font-weight: bolder">Z</span><span style="color: red;  font-weight: bolder">O</span><span style="color: blue;  font-weight: bolder">A</span> Foundation
            <br/>
               <span style="padding; 8px 5px; font-family: Raleway; background-color: black; font-size: 1.5rem; margin-top: 50px">
                   <span style="padding: 8px 5px; font-family: Raleway; font-size: 1.5rem;">ZOA <i class="fa fa-chevron-right" style="color: blue"></i>About</span>
               </span>
        
          </div>
        </div>
        <div class="right-section animate__animated animate__fadeInLeft animate__slow">
            <div class="nav-item">
                <span class="item"><a href="/Home"><i class="fa fa-home"></i> Home</a></span>
                <span class="item"><a href="/About"><i class="fa fa-file"></i> About</a></span>
                <span class="item"><a href="/Contact"><i class="fa fa-phone"></i> Contact</a></span>
                <span class="item"><a href="#myModal" data-toggle="modal" ><i class="fa fa-sign-in"></i> Login</a></span>
            </div>
        </div>
    </div>

    <div class="more-info">
        <div class="About-info" data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
            <i class="fa fa-handshake-o fa-4x" style=" padding: 20px"></i>
            <p style="padding: 10px">We partner with people across Nigeria, who are driven by the urge to
                affect the lives of those in need by sharing gifts and materials needed
                in form of money, substancial gifts and life sustaining materials through donations and philantrophic gestures... <br/>
                ZOA Foundation is a non-profit oriented organization, Our aim is to bring smiles on the faces of those who are suffering from
                tragic circumstances.
            </p>
        </div>
        <div class="About-info" data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
            <i class="fa fa-heart-o fa-4x" style=" padding: 20px"></i>
            <p style="padding: 10px;">
                The major target of this Foundation is to touch the hearts of needy people and less priviledged
                across the Nation Nigeria, Our major target is Orphanage homes, physically challenged, widows and widowers as well as 
                those that are facing serious challenges with meeting basic life sustaining demands. 
            </p>
        </div>
    </div>
    <div class="more-info" data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
        
        <div class="About-info">
            <i class="fa fa-road fa-4x" style=" padding: 20px"></i>
            <p style="padding: 10px;">
                 We have agents across the Nation who helps to keep watch and as well gather background information 
                on those in need and what they may be needing, you can join us enlarge this network.
            </p>
        </div>
        <div class="About-info" data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
            <i class="fa fa-signing fa-4x" style=" padding: 20px"></i>
            <p style="padding: 10px">
               The gifts are being recieved with joyful heart and happiness, by those in need of it.
                Join Us in reaching out to people in need, no matter your contributions it is worth it and
                God loves a cheerful giver.
            </p>
        </div>
    </div>
</div>


{{> footer}}
<script src="/Scripts/aos.js"></script>
<script type="text/javascript">
AOS.init();
</script>