<head>
    <link rel="stylesheet" href="/Styles/animate.css" />
    <link rel="stylesheet" href="/Styles/aos.css"/>
</head>
{{> Nav}}
{{> Login}}
<div class="container">
    <div class="animate__animated animate__fadeInLeft" style="height: 10vh; font-size: 1.5rem; width: 100%"><span><span style="text-align: center;"><span style="color: blue; font-weight: bolder">Z</span><span style="color: red;  font-weight: bolder">O</span><span style="color: blue;  font-weight: bolder">A</span> Foundation Initiatives</span>
    <span><input id="search" type="search" placeholder="Search"/><i class="fa fa-search" style="background: white; padding: 3px; color: blue;"></i></span></span>
    </div>
    <div class="main animate__animated animate__fadeIn">
        <div class="left-section">
          <div class="message">
               Welcome To <br/> 
           <span style="color: blue; font-weight: bolder">Z</span><span style="color: red;  font-weight: bolder">O</span><span style="color: blue;  font-weight: bolder">A</span> Foundation
          <br/>
               <span style="padding; 8px 5px; font-family: Raleway; background-color: black; font-size: 1.5rem; margin-top: 50px">
                   <span style="padding: 10px 8px; font-family: Raleway; font-size: 1.5rem;">ZOA <i class="fa fa-chevron-right" style="color: blue;"></i> Home</span>
               </span>
        
          </div>
        </div>
        <div class="right-section animate__animated animate__fadeInLeft animate__slow">
            <div class="nav-item">
                <span class="item"><a href="/Home"><i class="fa fa-home"></i> Home</a></span>
                <span class="item"><a href="/About"><i class="fa fa-file"></i> About</a></span>
                <span class="item"><a href="/Contact"><i class="fa fa-phone"></i> Contact</a></span>
                <span class="item"><a href="#myModal" data-toggle="modal" ><i class="fa fa-sign-in"></i> Login</a></span>
            </div>
        </div>
    </div>
<div class="body" >
    <div class="info-card bg-warning" data-aos="slide-up" data-aos-easing="ease-in-out" data-aos-duration="700">
         <div style="font-size: 2.5rem; color: blue; text-align: center; width: 100%;">Vision</div>
         <hr/><div class="info">
             To contribute to building a Nigeria where all less privileged (motherless, orphans, physically challenged and hopeless
             people) have access to affordable and quality welfare and equal oppurtunities to realize their potentials.
         </div>
    </div>
    <div class="info-card bg-warning" data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
        <div style="font-size: 2.5rem; color: red; text-align: center; width: 100%;">Mission</div>    
        <hr/><div class="info">
             The ZOA Foundation is committed to enhancing the quality of life of Nigerians by
             supporting initiatives that improve access to the general well-being of the less priviledged
             and hopeless people to bring hope back to them in whichever way we affect them positively
         </div>
    </div>
    <div class="info-card bg-warning" data-aos="slide-up" data-aos-easing="ease-in-out" data-aos-duration="700">
        <div style="font-size: 2.5rem; color: blue; text-align: center; width: 100%;">Goal</div>    
        <hr/><div class="info" >
             Reaching out to Nigerians in need with the hand of care and comfort, through halms giving and soliciting 
             for philantrophic gestures from persons with equal drive, and with a compromise of assisting with
             their needs.
         </div>
    </div>
</div>

<div class="section-1">
    <div class="image"  data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="700">
    </div>
    <div class="image-info">
        <p>In ZOA Foundation we are comitted to bringing help to those who may need it
            in Nigeria, a service to humanity is one big way to keep the human race from going into extinction. 
        </p>

        <p>
            You and I can make a difference in the world, by reaching out with us in ZOA Foundation to help,
            those who are in need.
        </p>
    </div>
</div>
<div class="section-1">
   <div class="image-2"  data-aos="flip-down" data-aos-easing="ease-in-out" data-aos-duration="700">
    </div>
    <div class="image-info-2">
        <p>In ZOA Foundation we are comitted to bringing help to those who may need it
            in Nigeria, a service to humanity is one big way to keep the human race from going into extinction. 
        </p>

        <p>
            You and I can make a difference in the world, by reaching out with us in ZOA Foundation to help,
            those who are in need.
        </p>
    </div>
</div>


</div>

{{> footer}}
<script src="/Scripts/aos.js"></script>
<script type="text/javascript">
AOS.init();
</script>